<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Json to XML Web Service - www.cedarhillsgroup.com</title>
        <meta name="description" content="JSON TO XML converter">
        <meta name="chris.malek@cedarhillsgroup.com" content="Cedar Hills Group, Inc">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                <h1>JSON to XML Web Service</h1>
                <p>For Information on this web service see https://github.com/chrismalek/jsontoxml</p>
            </div>
        </div><!-- /.container -->
        </body>
    </html>
